<div>
  <h1 style="margin-bottom: 0">
    <%= @greeting %>
  </h1>
  <p style="width: 60%; margin-bottom: 0">
    Thanks for joining Out of Bounds Discs. We're so very happy to have you. Please reserve some discs today and come pick them up before playing your next round. We promise you'll be satisfied or your money back!
  </p>
  <a style="text-decoration: none; margin-top: 5px" target="blank" href="https://goo.gl/maps/RpKstcsfMQmuKj5t9">Out of Bounds Discs</a>
  <br>
  <a style="text-decoration: none" target="blank" href="https://goo.gl/maps/RpKstcsfMQmuKj5t9">Find on Google Maps</a>
</div>
